body
{
    margin:0;
    font-family:Arial, sans-serif;
    background:#ffffff;
}

header
{
    background:#1f1f1f;
    color:white;
    padding:20px;
}

h1
{
    color:#d9272e;
}

h2
{
    color:#444;
}